<footer id="contact" class="primary-footer">
    <a href="/">
        <img class="logo" src="/assets/art-deco-1.png" alt=""/>
        <span class="sr-only">Home</span>
    </a>
    <p class="fs-800 ">Let's Connect!</p>
    <div class="social-bar">
            <p class="ff-heading text-accent"><a href="https://github.com/Alliemack77">GitHub</a></p>
            <p class="ff-heading text-accent"><a href="mailto:alliemack77@gmail.com">Email</a></p>
            <p class="ff-heading text-accent"><a href="https://linkedin.com/in/allisonleggett">LinkedIn</a></p>
            <p class="ff-heading text-accent"><a href="https://www.youtube.com/@CSSdeCoder">YouTube</a></p>
    </div>
</footer>

<div class="eleventy">
    <p>&#169; 2025 Made with &#x2764; and <a href="https://www.11ty.dev/">11ty</a>!</p>
</div>