<footer id="contact" class="primary-footer">
    <a href="/">
        <img class="logo" src="/assets/logo-lrg.png" alt=""/>
        <span class="sr-only">Home</span>

    </a>
    <p class="fs-800 ">Let's Connect</p>
    <div class="social-bar">
        
            {# <i class="fa-brands fa-github"></i>
            <span class="sr-only">GitHub</span> #}
            <p class="ff-heading text-accent"><a href="https://github.com/Alliemack77">GitHub</a></p>
       
        
            {# <i class="fa-solid fa-envelope"></i>
            <span class="sr-only">Email Me</span> #}
            <p class="ff-heading text-accent"><a href="mailto:alliemack77@gmail.com">Email</a></p>
     
        
            {# <i class="fa-brands fa-linkedin"></i>
            <span class="sr-only">LinkedIn</span> #}
            <p class="ff-heading text-accent"><a href="https://linkedin.com/in/allisonleggett">LinkedIn</a></p>
        
    </div>
</footer>

<div class="eleventy">
    <p>&#169; 2023 Made with &#x2764; and <a href="https://www.11ty.dev/">11ty</a>!</p>
</div>