<footer id="contact" class="primary-footer">
    <img class="logo" src="/assets/logo-lrg.png" alt=""/>
    <p>Let's Connect.</p>
    <div class="social-bar">
        <a href="https://github.com/Alliemack77">
            <i class="fa-brands fa-github"></i>
            <span class="sr-only">GitHub</span>
        </a>
        <a href="mailto:alliemack77@gmail.com">
            <i class="fa-solid fa-envelope"></i>
            <span class="sr-only">Email Me</span>
        </a>
        <a href="https://linkedin.com/in/allisonleggett">
            <i class="fa-brands fa-linkedin"></i>
            <span class="sr-only">LinkedIn</span>
        </a>
    </div>
</footer>