<header class="primary-header">
    <div class="container">
        <a href="/">
            <div class="logo-mobile">
                <img src="/assets/art-deco-3.png" alt=""/>
            </div>
            <span class="sr-only">Home</span>
        </a>
        {# <div> #}
            <h1 class="fs-500 fw-600">Allison Leggett | <span class="fs-400 fw-400">Frontend Developer</span></h1>
            <div id="navigation-container" class="flex align-items-center jusify-center" >
                <a href="/">
                    <div class="logo-desktop">
                        <img src="/assets/art-deco-3.png" alt=""/>
                    </div>
                    <span class="sr-only">Home</span>
                </a>
                <button
                    class="mobile-nav-toggle"
                    aria-controls="primary-navigation"
                    aria-expanded="true">
                    <span class="sr-only">navigation menu toggle</span>
                </button>
                <nav>
                    <ul id="primary-navigation" class="primary-navigation hover-indicators flex">
                        <li class="nav-link active"><a href="/">Featured</a></li>
                        <li class="nav-link"><a href="/all-projects">Web Projects</a></li>
                        {# <li class="nav-link"><a href="/all-designs">UX Design</a></li> #}
                        <li class="nav-link"><a href="/all-experiments">Experiments</a></li>
                        {# <li class="nav-link"><a href="/contact">Contact</a></li> #}
                    </ul>
                </nav>
            </div>
        {# </div> #}
    </div>
</header>