<header class="primary-header">
    <div class="container">
        <span class="name fs-500 fw-600" aria-hidden="true">
            Allison Leggett | <span class="fs-400 fw-400">Frontend Developer</span>
        </span>
        <div id="navigation-container" class="flex align-items-center jusify-center" >
            <a href="/" class="logo">
                <img src="/assets/art-deco-1.png" alt="" width="50"/>
                <span class="sr-only">Home</span>
            </a>
            <nav aria-labelledby="nav-label">
                <span  class="sr-only" id="nav-label">Site</span>
                <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                </button>
                <ul role="list" id="primary-navigation" class="primary-navigation hover-indicators flex">
                    <li class="nav-link"><a href="/">Featured</a></li>
                    <li class="nav-link"><a href="/all-projects">Web Projects</a></li>
                    <li class="nav-link"><a href="/all-videos">Videos</a></li>
                    <li class="nav-link"><a href="/all-experiments">Experiments</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>