<div class="card">
    <img class="card__image" src={{ portfolio.data.imageTablet }} alt="">
    <div class="card__details">
        <div class="icon-wrapper">
            <i class="fa-brands {{portfolio.data.icons[1]}}"></i>
            <i class="fa-brands {{portfolio.data.icons[0]}}"></i>
        </div>
        <h2 class="portfolio-title"><a href={{portfolio.data.urls[0]}}>{{ portfolio.data.cardTitle}}</a></h2>
    </div>
</div>