<div class="card">
    <a href={{portfolio.data.urls[0]}}>
        <img class="card__image" src={{ portfolio.data.imageTablet }} alt="">
    </a>
    <div class="card__details">
        <div class="icon-wrapper">
            <i class="fa-brands {{portfolio.data.icons[1]}}"></i>
            <i class="fa-brands {{portfolio.data.icons[0]}}"></i>
        </div>
        <h2>
            <a class="link" href={{portfolio.data.urls[0]}}>{{ portfolio.data.cardTitle}}</a>
        </h2>
        <p >This portfio was so much fun to create. Built in React and styled with Sass, this project was a simple and stylish way to showcase my recent work. Enjoy!</p>
    </div>
</div>