<a href="{{ project.url }}">
    <div class="card">
        <img class="card__image" src={{ project.data.imageTablet }} alt={{ project.data.imageAlt }}>
        <p class="tag">{{ project.data.eyebrow }}</p>
        <div class="card__details">
            <h2>{{ project.data.cardTitle}}</h2>
            <p>{{ project.data.blurb }}</p>
        </div>
    </div>
</a>