
    <div class="card">
        <div class="image-zoom-wrapper">
            <a href="{{ project.url }}">
                <img class="card__image" src={{ project.data.imageTablet }} alt={{ project.data.imageAlt }}>
            </a>
        </div>
        <p class="tag">{{ project.data.eyebrow }}</p>
        <div class="card__details">
            <h2>
                <a class="link" href="{{ project.url }}">
                    {{ project.data.cardTitle}}
                </a>
            </h2>
            <p>{{ project.data.blurb }}</p>
        </div>
    </div>
