@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;


.card {
    margin-bottom: 2.5rem;

    &__details {

        h2 {
            color: $clr-dark-blue;
            font-family: $ff-heading;
            font-size: $fs-700;
            line-height: 1.2;
        }
    
        p {
            line-height: 1.15;
            margin-block-start: 1rem;
        }

        .icon-wrapper {
            margin-block: 1em;
            
            svg {
                font-size: 1.5rem;
            }
        }
    }

    .tag {
        margin-block: 1em;
        font-size: $fs-200;
        font-weight: $fw-600;
        letter-spacing: 2px;
        color: $clr-accent;
        text-transform: uppercase;
        text-decoration: none;
    }

    &.experiment {
        background-color: #fff;
        box-shadow: 0 20px 60px 0 rgba(170, 177, 251, 0.396);
        padding: 2rem;
        margin: 0;


        .image {
            aspect-ratio: 1/1;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            box-shadow: 20px 20px 60px 0  rgb(170, 177, 251, 0.396);
        }

        .body {
            justify-content: space-between;
            color: $clr-dark-blue;
            
            .tag {
                color: $clr-accent;
                font-size: $fs-800;
                font-family: $ff-heading;
                margin: 0;
            }
        }
    }
}

// a:has(.card) {
//     text-decoration: none;
// }


