@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    // @media (min-width: 900px) {
    //     flex: 0 1 30%;
    // }
}

.feature-item {
    margin-bottom: 2.5rem;

    &__details {
        h2 {
            line-height: 1.2;
            position: relative;
        }

        h2 a {
            color: inherit;
            text-decoration: none;
        }

        h2:hover {
            color: $clr-accent;
            text-decoration: underline;
        }
    
        p {
            line-height: 1.15;
            margin-block-start: 1rem;
        }
    }

    .tag {
       
        margin-block: 1em;
        letter-spacing: 2px;
        color: $clr-accent;


        // position: absolute;
        // inset: auto 0 -10 0 ;
        // max-width: fit-content;
        // background-color: $clr-white;
        // padding: .563rem .938rem;
        // border: solid $clr-accent 2px;
        // box-shadow: -5px 5px 0px #34364D;
    }
}
