@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.features {


    @media (min-width: 900px) {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    // display: flex;

}

.feature-item {
    margin-bottom: 2.5rem;

    &__image {
        position: relative;

        img {
            margin-block-end: 1.75rem;
            aspect-ratio: initial;
        }
    }

    &__details {
        h2 {
            margin-block: 1rem;
            line-height: 1.2;
        }
    
        p {
            line-height: 1.15;
        }
    }

    .tag {
        position: absolute;
        inset: auto 0 -10 0 ;
        margin-inline: auto;
        max-width: fit-content;
        background-color: $clr-white;
        padding: .563rem .938rem;
        letter-spacing: 2px;
        border: solid $clr-dark-blue 2px;
        box-shadow: -5px 5px 0px #34364D;
    }
}
