@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;


.feature-item {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 500px;

    &__image {
        position: relative;

        img {
            margin-block-end: 1.2rem;
            grid-row: 1;
            grid-column: 1;
            aspect-ratio: initial;
        }
    }

    &__details {
        h2 {
            margin-block-start: 1rem;
            line-height: 1.2;
        }
    
        p {
            margin-block-start: 1rem;
            line-height: 1.15;
        }
    }

    .tag {
        position: absolute;
        inset: auto 0 0 0 ;
        margin-inline: auto;
        max-width: fit-content;
        background-color: $clr-white;
        padding: .563rem .938rem;
        letter-spacing: 2px;
        border: solid $clr-dark-blue 2px;
        box-shadow: -5px 5px 0px #34364D;
    }
}
