@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.primary-footer {
    display: grid;
    gap: 1rem;
    place-content: center;
    justify-items: center;
    padding: 4rem;
    background-color: $clr-dark-blue;
    color: $clr-white;
    
    svg {
        color: $clr-white;
        font-size: 2rem;
    }

    p {
        font-size: $fs-700;
    }

    .logo {
        max-width: 50px;
        // justify-self: center;
    }

    & .social-bar {
        display: flex;
        gap: 2rem;
    }

}