@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;

.primary-header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1em 0 2em; 
    background-color: $clr-white;

    h1 {
        margin-block-start: 1em;
    }

    .logo-mobile,
    .mobile-nav-toggle {
        display: none;
    }

    #navigation-container {
        position: relative;
        margin-block-start: 4rem;
    }
    
    .logo-desktop {
        display: grid;
        align-items: end;
        max-width: 50px;
        padding: .5rem;
    }

    .primary-navigation {
        font-size: $fs-500;
    }

    .hover-indicators > li {
        
        &:hover, 
        &:focus {
            color: $clr-accent;
            transition: color 450ms ease-out;
        }
        
        & a {
            padding: .5em;
            text-decoration: none;
        }

        a:visited {
            color: inherit;
        }
    } 

    @media (max-width: 48rem) {
         
        .logo-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-block-end: 2em;

            img {
                max-width: 50px;
            }
        }

        #navigation-container {
            margin-block-start: 0;
        }

        .logo-desktop {
            display: none;
        }

        .mobile-nav-toggle {
            display: block;
            padding: 1rem;
            border: none;
            background: transparent;
            position: absolute;
            top: -54px;
            right: 0;
            z-index: 100;
            background-image: url('../../assets/toggle-open.png');
            background-repeat: no-repeat;
            background-position: center;
            width: 4rem;
            aspect-ratio: 1;
            transform: rotate(-180deg);
            @include transition-450-easein(transform);
        }

        .primary-navigation {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            inset: -50 0 0 0;
            display: flex;
            padding: 7rem 1rem;
            // background-color: $clr-dark-blue;
            background-image: linear-gradient(hsl(235deg, 24%, 50%), hsl(0deg, 0%, 100%));
            color: $clr-dark-blue;
            translate: 100%;
            z-index: 10;
            @include transition-450-easein(translate);
        }

        .nav-open .mobile-nav-toggle {
            background-image: url('../../assets/toggle-close.png');
            transform: rotate(90deg);
            @include transition-450-easein(transform);
        }

        .nav-open .primary-navigation {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: $fs-800;
            translate: 0%;
            @include transition-450-easein(translate);
        }
    }

    

    

    
}