.hero {
    background-image: url(../../assets/dr-who-hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh);
    margin-block-end: 5em;
    
    @media (min-width: 56.25em) {
        position: sticky;
        top: 0;
    }
    
    &__details {
        position: absolute;
        padding-inline: clamp(1.25rem, 5vw, 3rem);
        max-width: 60ch;
        bottom: 110px;

        h2 {
            margin-block: 1rem;
            line-height: 1.2;
        }
    
        p {
            line-height: 1.15;
        }
    }
}