.hero-wrapper {

    &:hover .hero {
        transform: scale(1.015);
    }
}

.hero {
    background-image: url(../../assets/dr-who-hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    margin-block-end: 5em;
    position: relative;
    transition: transform 500ms ease-in-out;
    
    &__details {
        position: absolute;
        padding-inline: clamp(1.25rem, 5vw, 3rem);
        max-width: 60ch;
        bottom: 50px;

        h2 {
            margin-block: 1rem;
            line-height: 1.2;
        }
    
        p {
            line-height: 1.15;
        }
    }

    @media (min-width: 48em) {
        &__details {
           bottom: 200px;
        }
    }

    @media (min-width: 56.25em) {
        position: sticky;
        top: 0;
        margin-block-end: 0;
    }
}