.bg-dark-blue {
  background-color: hsl(235deg, 100%, 19%);
}

.bg-light-blue {
  background-color: hsl(235deg, 24%, 50%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.text-accent {
  color: hsl(235deg, 100%, 61%);
}

.text-dark-blue {
  color: hsl(235deg, 100%, 19%);
}

.text-light-blue {
  color: hsl(235deg, 24%, 50%);
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

.bg-dark-blue {
  background-color: hsl(235deg, 100%, 19%);
}

.bg-light-blue {
  background-color: hsl(235deg, 24%, 50%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.text-accent {
  color: hsl(235deg, 100%, 61%);
}

.text-dark-blue {
  color: hsl(235deg, 100%, 19%);
}

.text-light-blue {
  color: hsl(235deg, 24%, 50%);
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

body {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(235deg, 100%, 19%);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.ff-body {
  font-family: "Source Sans Pro", sans-serif;
}

.ff-heading {
  font-family: "Playfair Display", serif;
}

.fs-900 {
  font-size: clamp(2.125rem, 5vw, 3.125rem);
  line-height: clamp(40px, 5vw, 56px);
}

.fs-800 {
  font-size: 2rem;
}

.fs-700 {
  font-size: 1.5rem;
}

.fs-600 {
  font-size: 1.25rem;
}

.fs-500 {
  font-size: 1.125rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-300 {
  font-size: 0.875rem;
}

.fs-200 {
  font-size: 0.75rem;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

h2 .link:hover,
.link:hover {
  color: hsl(235deg, 100%, 61%);
  background-image: url(../../assets/hover-blue.png);
  background-repeat: repeat-x;
  background-position: 0 120%;
}

.bg-dark-blue {
  background-color: hsl(235deg, 100%, 19%);
}

.bg-light-blue {
  background-color: hsl(235deg, 24%, 50%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.text-accent {
  color: hsl(235deg, 100%, 61%);
}

.text-dark-blue {
  color: hsl(235deg, 100%, 19%);
}

.text-light-blue {
  color: hsl(235deg, 24%, 50%);
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

.article__tags {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1em 0 3em;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: hsla(235deg, 24%, 50%, 0.5);
  text-transform: uppercase;
}

.article__tags svg {
  font-size: 1.25rem;
}

.article h1 {
  max-width: 22ch;
}

.article__image {
  margin-block: 3em;
}

.article__details {
  max-width: 80ch;
}

.article__details .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block: 2em;
}

@media (min-width: 500px) {
  .article__details .button-container {
    flex-direction: row;
  }
}
.btn {
  display: inline-block;
  max-width: fit-content;
  padding: 0.563rem 0.938rem;
  border: solid hsl(235deg, 100%, 19%) 2px;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  background-color: #34364D;
  box-shadow: none;
  transition: all 350ms ease-out;
}

.btn:hover {
  color: inherit;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: -5px 5px 0px #34364D;
  transition: all 350ms ease-out;
}

.btn.experiments {
  margin-top: 5rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(235deg, 100%, 61%);
  background-color: transparent;
  border: none;
}

.btn.experiments:hover {
  box-shadow: -5px 5px 0px hsl(235deg, 100%, 61%);
}

.card {
  margin-bottom: 2.5rem;
}

.card .image-zoom-wrapper {
  overflow: hidden;
  overflow-x: hidden;
  transition: transform 500ms ease-in-out;
}

.card .image-zoom-wrapper:hover img {
  transform: scale(1.08);
}

.card .image-zoom-wrapper img {
  transition: all 500ms ease-in-out;
}

.card__details {
  max-width: 70ch;
}

.card__details h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

.card__details h2 a {
  color: hsl(235deg, 100%, 19%);
}

.card__details p {
  line-height: 1.15;
  margin-block-start: 1em;
}

.card__details .icon-wrapper {
  margin-block: 1em;
}

.card__details .icon-wrapper svg {
  font-size: 1.5rem;
}

.card .tag {
  margin-block: 1em;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: hsl(235deg, 100%, 61%);
  text-transform: uppercase;
  text-decoration: none;
}

.card.experiment {
  background-color: #fff;
  box-shadow: 0 20px 60px 0 rgba(170, 177, 251, 0.396);
  padding: 2rem;
  margin: 0;
}

.card.experiment .image {
  aspect-ratio: 1/1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 20px 20px 60px 0 rgba(170, 177, 251, 0.396);
}

.card.experiment .body {
  justify-content: space-between;
  color: hsl(235deg, 100%, 19%);
}

.card.experiment .body .tag {
  color: hsl(235deg, 100%, 61%);
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.primary-footer {
  background-image: url(../../assets/background.png);
  background-position: center;
  background-size: contain;
  min-height: 400px;
  width: 100%;
  display: grid;
  gap: 1rem;
  place-content: center;
  justify-items: center;
  padding: 4rem;
  color: hsl(235deg, 100%, 19%);
  text-align: center;
}

.primary-footer .logo {
  max-width: 70px;
}

.primary-footer .social-bar {
  display: flex;
  gap: 2rem;
}

.primary-footer .social-bar svg {
  color: hsl(235deg, 24%, 50%);
  font-size: 2rem;
}

.primary-footer .social-bar a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: hsl(235deg, 100%, 61%);
  text-transform: uppercase;
}

.eleventy {
  display: grid;
  place-content: center;
  padding: 4em;
  background-color: hsl(235deg, 100%, 25%);
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}

.eleventy a,
.eleventy a:visited {
  color: #27E8CB;
}

.primary-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1em 0 2em;
  background-color: hsl(0deg, 0%, 100%);
}

.primary-header h1 {
  margin-block-start: 1em;
}

.primary-header .logo-mobile,
.primary-header .mobile-nav-toggle {
  display: none;
}

.primary-header #navigation-container {
  position: relative;
  margin-block-start: 4rem;
}

.primary-header .logo-desktop {
  display: grid;
  align-items: end;
  max-width: 50px;
  padding: 0.5rem;
}

.primary-header .primary-navigation {
  font-size: 1.125rem;
}

.primary-header .hover-indicators > li:hover, .primary-header .hover-indicators > li:focus {
  color: hsl(235deg, 100%, 61%);
  transition: color 450ms ease-out;
}

.primary-header .hover-indicators > li a {
  padding: 0.5em;
  text-decoration: none;
}

.primary-header .hover-indicators > li a:visited {
  color: inherit;
}

@media (max-width: 48rem) {
  .primary-header .logo-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 2em;
  }
  .primary-header .logo-mobile img {
    max-width: 50px;
  }
  .primary-header #navigation-container {
    margin-block-start: 0;
  }
  .primary-header .logo-desktop {
    display: none;
  }
  .primary-header .mobile-nav-toggle {
    display: block;
    padding: 1rem;
    border: none;
    background: transparent;
    position: absolute;
    top: -54px;
    right: 0;
    z-index: 100;
    background-image: url("../../assets/toggle-open.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    aspect-ratio: 1;
    transform: rotate(-180deg);
    transition: transform 450ms ease-in;
  }
  .primary-header .primary-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    inset: -50 0 0 0;
    display: flex;
    padding: 7rem 1rem;
    background-image: linear-gradient(hsl(235deg, 24%, 50%), hsl(0deg, 0%, 100%));
    color: hsl(235deg, 100%, 19%);
    translate: 100%;
    z-index: 10;
    transition: translate 450ms ease-in;
  }
  .primary-header .nav-open .mobile-nav-toggle {
    background-image: url("../../assets/toggle-close.png");
    transform: rotate(90deg);
    transition: transform 450ms ease-in;
  }
  .primary-header .nav-open .primary-navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    translate: 0%;
    transition: translate 450ms ease-in;
  }
}
.hero {
  background-image: url(../../assets/dr-who-hero.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  margin-block-end: 5em;
  position: relative;
  transition: transform 500ms ease-in-out;
}

.hero__details {
  position: absolute;
  padding-inline: clamp(1.25rem, 5vw, 3rem);
  max-width: 60ch;
  bottom: 50px;
}

.hero__details h2 {
  margin-block: 1rem;
  line-height: 1.2;
}

.hero__details p {
  line-height: 1.15;
}

@media (min-width: 48em) {
  .hero__details {
    bottom: 200px;
  }
}
@media (min-width: 56.25em) {
  .hero {
    position: sticky;
    top: 0;
    margin-block-end: 0;
  }
}
.bg-dark-blue {
  background-color: hsl(235deg, 100%, 19%);
}

.bg-light-blue {
  background-color: hsl(235deg, 24%, 50%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.text-accent {
  color: hsl(235deg, 100%, 61%);
}

.text-dark-blue {
  color: hsl(235deg, 100%, 19%);
}

.text-light-blue {
  color: hsl(235deg, 24%, 50%);
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

.page-header {
  margin: 4rem auto 9rem;
  width: max-content;
}

.page-header img {
  margin: 0 auto 2em auto;
  max-width: 200px;
}

.page-header .heading {
  font-family: "Playfair Display", serif;
  font-size: clamp(2.5rem, 7vw, 6.25rem);
}

.page-subtitle {
  margin: 5em 0 3em;
}

.page-subtitle p {
  margin-block-start: 0.5em;
}

.deco {
  padding: 3em 0em;
}

@media (min-width: 768px) {
  .deco {
    border-left: solid hsla(235deg, 24%, 50%, 0.5) 1px;
    padding: 5em 0 5em 2em;
    margin-inline-start: 6em;
    margin-block-end: 9em;
  }
}
.color-block {
  padding: 4em 0 9em 0;
  color: hsl(0deg, 0%, 100%);
  background-image: linear-gradient(hsl(235deg, 24%, 50%), hsl(0deg, 0%, 100%));
  display: grid;
  place-items: center;
}

.color-block .link {
  color: hsl(235deg, 100%, 61%);
  margin-block-start: 3em;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}
.flex {
  display: flex;
  gap: 2rem;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

@media (min-width: 900px) {
  .row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    margin-block-end: 2rem;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/*# sourceMappingURL=main.css.map */
