.row {
    margin-block-end: 10em;

    @media (min-width: 900px) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
        margin-block-end: 2rem;
    }
    
}

.row-video {
    margin-block-end: 10em;
}



