@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

// Font family utilities
.ff-body { font-family: $ff-body;}
.ff-heading { font-family: $ff-heading;}

// Font size utilities
.fs-900 { font-size: $fs-900; line-height: clamp(40px, 5vw, 56px);}
.fs-800 { font-size: $fs-800;}
.fs-700 { font-size: $fs-700;}
.fs-600 { font-size: $fs-600;}
.fs-500 { font-size: $fs-500;}
.fs-400 { font-size: $fs-400;}
.fs-300 { font-size: $fs-300;}
.fs-200 { font-size: $fs-200;}

// Font weight utilities
.fw-700 { font-weight: $fw-700;}
.fw-600 { font-weight: $fw-600;}
.fw-500 { font-weight: $fw-500;}
.fw-400 { font-weight: $fw-400;}
.fw-300 { font-weight: $fw-300;}

.text-center { text-align: center;}
.uppercase { text-transform: uppercase;}

.tag {
    margin-block: 1em;
    font-size: $fs-200;
    font-weight: $fw-600;
    letter-spacing: 2px;
    color: $clr-accent;
    text-transform: uppercase;
    text-decoration: none;
}


// Card title and hero title hover
h2 .link:hover, 
h2 .link:focus-within,
.link:hover,
.link:focus-within,
.hero__details h2 a:hover, 
.hero-video__details h2 a:hover {
    color: $clr-accent;
    background-image: url(../../assets/hover-blue.png); 
    background-repeat: repeat-x;
    background-position: 0 120%;
}

.hero__details h2 a:hover,
.hero__details h2 a:visited {
    color: $clr-white;
    background-position: 0 100%;
} 





