@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;



.page-header {
    margin: 4rem auto 9rem;
    width: max-content;

    img {
        margin: 0 auto 2em auto;
        max-width: 200px;
    }

    .heading {
        font-family: $ff-heading;
        font-size: $fs-1000;
    }
}

.page-subtitle {
    margin: 5em 0 3em;
}

.deco {
    padding: 3em 0em;

    @media (min-width: 768px) {
        border-left: solid $clr-light-blue-50 1px;
        padding: 5em 0 5em 2em;
        margin-inline-start: 6em;
        margin-block-end: 9em;
    }
}

.color-block {
    padding: 4em 0 9em 0;
    color: $clr-white;
    background-image: linear-gradient($clr-light-blue, $clr-white);
    display: grid;
    place-items: center;

    .link {
        color: $clr-accent;
        margin-block-start: 3em;
        font-family: $ff-heading;
        font-size: $fs-600;
        font-weight: $fw-700;
        text-transform: uppercase;
    }
    
}
