$clr-white: hsl(0, 0%, 100%);
$clr-light-blue: hsl(235, 24%, 50%);
$clr-light-blue-50: hsl(235, 24%, 50%, 0.50);
// $clr-dark-blue: hsl(235, 50%, 20%);
$clr-dark-blue: #000861;;
$clr-accent: hsl(235, 100%, 61%);

//  Background color utilities
.bg-dark-blue {background-color: $clr-dark-blue;}
.bg-light-blue {background-color: $clr-light-blue;}
.bg-white {background-color: $clr-white;}

//  Text color utilities
.text-accent {color: $clr-accent;}
.text-dark-blue {color: $clr-dark-blue;}
.text-light-blue {color: $clr-light-blue;}
.text-white {color: $clr-white;}