// Font families
$ff-heading: 'Playfair Display', serif;
$ff-body: 'Source Sans Pro', sans-serif;

// Font sizes
$fs-1000: clamp(1.5rem, 7vw, 6.25rem); //100px
$fs-900: clamp(2.125rem, 5vw, 3.125rem); // 50px
$fs-800: 2rem; // 32px
$fs-700: 1.5rem; // 24px
$fs-600: 1.25rem; // 20px
$fs-500: 1.125rem; // 18px
$fs-400: 1rem;
$fs-300: 0.875rem; // 14px
$fs-200: 0.75rem; // 12px

//Font weights
$fw-700: 700; 
$fw-600: 600; // semi-bold
$fw-500: 500;
$fw-400: 400; // regular
$fw-300: 300;