---
title: UX Designs | Allison Leggett | Web Developer & Designer
layout: 'base.njk'
---

<section class="container">
    <div class="deco">
        <header class="page-header">
            <h1>UX Design</h1>
            <p>Some fun UX design challenges I've worked on</p>
        </header>
        <div class="layout">
            <div class="card">
                <img class="card__image" src="../assets/comments-tablet.jpg" alt="Interactive Comments Section">
                <p class="tag">component</p>
                <div class="card__details">
                    <h2><a href="/article">Nosh: A Food Menu App for <em>The Beer Garden</em></a></h2>
                    <p>A compact component, built in React and using the Comments Section API I created. Styling is done using my favorite pre-processor, Sass.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
    