---
title: UX Designs | Allison Leggett
layout: 'base.njk'
---

<section class="container">
    <div class="deco">
        <header class="page-header">
            <h1 class="heading uppercase">UX Design</h1>
            <p>Some fun UX design challenges I've worked on</p>
        </header>
        <div class="page-subtitle">
            <h2 class="ff-heading fs-600 uppercase">Case Studies</h2>
            <p>Exploring design principals</p>
        </div>
        <div class="layout">
           
           {%- for design in collections.design  -%}

                {%- include 'design-card.njk' -%}

           {%- endfor -%}
            
        </div>
    </div>
</section>
    