---
title: Allison Leggett | Frontend Developer
layout: 'base.njk'
---

<section class="container">
  
     <header class="page-header">
        {# <img src="./assets/art-deco-2.png" alt=""/> #}
        <p class="uppercase text-center">Featured</p>
        <h2 class="heading">Latest projects</h2>
    </header>

    <div class="row">
            <div class="hero">
                <div class="hero__details">
                    <p class="uppercase fs-400 fw-600 text-white">blog</p>
            
                    <h2 class="fs-800 fw-700 ff-heading text-white">
                        <a href="/projects/vortex">The Vortex Project: The Ultimate Doctor Who Experience </a>
                    </h2>
                    <p class="text-white">Using Figma to design my personal Nerdvana. I designed this blog to study layout and component based design. Reusable assets made creating this project a blast to design.
                    </p>
                </div>
            </div>
        <div class="layout">
            {%- for project in collections.featured | reverse -%}

                {% include 'project-card.njk' %}
            
            {%- endfor -%}
        </div>
    </div>
    
</section>

<section class="color-block">
    <header class="page-header">
        {# <img src="./assets/art-deco-1.png" alt=""/> #}
        <p class="uppercase text-center">Experiments</p>
        <h2 class="heading">Fun Mini Projects</h2>
    </header>

   <div class="layout container" style="gap: 0.5rem;">
        {%- for experiment in collections.featuredExp  -%}

            {% include 'experiment-card.njk' %}

        {%- endfor -%}
   </div>

   <a class="link" href="/all-experiments">Check out more experiments</a>
</section>

